.products {
  margin: 20px;


  p {
      margin-bottom: 10px;
  }

  h2 {
      margin-bottom: 20px;
  }

  .products__grid {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
      gap: 20px;
  }

  .products__card {
      border: 1px solid #ddd;
      border-radius: 8px;
      height: 37ч0px;
      overflow: hidden;
      padding: 10px;
      background-color: #fff;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

      .products__img {
          margin-bottom: 10px;

          img {
              height: 200px;
              width: 100%;
              object-fit: contain;
              box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
          }
      }

      p {
          margin-bottom: 5px;
          font-size: 16px;
      }

      .price {
          font-weight: bold;
          color: #007bff;
      }
  }

  .loading-indicator {

      margin: 20px;
      text-align: center;
      font-size: 18px;
      color: #777;
  }

  &__desc {
      color: #3858D6;
      font-weight: 500;
      font-size: 16px;
      line-height: 19.36px;
      text-align: center;
  }

  &__title {
      text-align: center;
      font-weight: 700;
      font-size: 36px;
      line-height: 43.57px;
      color: #1E1D1D;
      padding-bottom: 100px;
  }

  button {
      margin: 20px auto;
      padding: 10px 30px;
      align-items: center;
      display: flex;
      justify-content: center;
      border: none;
      border-radius: 15px;
      background-color: #007bff;
      color: #fff;
      font-size: 16px;
      cursor: pointer;

      &:hover {
          background-color: #0056b3;
      }
  }
}

.modal {
  display: block;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  overflow: auto;
}

.modal-content {
  position: relative;
  margin: 15% auto;
  width: 70%;
  max-width: 600px;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-size: 24px;
  color: #aaa;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

h3 {
  margin-bottom: 10px;
}

p {
  margin-bottom: 15px;
} 

.testimonials-section {
  text-align: center;
  padding: 20px;
}

.testimonials-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.testimonial-card {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 300px;
  text-align: center;
}

.testimonial-image {
  border-radius: 50%;
  width: 80px;
  height: 80px;
  object-fit: cover;
  margin-bottom: 10px;
}

.testimonials-section-title{
  font-weight: 500;
  font-size: 16px;
  line-height: 19.36px;
  color: #3858D6;
}

.subscribe-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #f8f8f8;
  padding: 50px;
  border-radius: 10px;
  margin-bottom: 100px;
  margin-top: 40px;

}

.subscribe-content {
  flex: 1;
}

.subscribe-title {
  font-size: 24px;
  margin-bottom: 10px;
}

.subscribe-subtitle {
  font-size: 16px;
  margin-bottom: 20px;
}

.subscribe-form {
  display: flex;
  align-items: center;
}

.subscribe-input {
  flex: 1;
  padding: 20px;
  font-size: 16px;
  border: 1px solid #ddd;
  max-width: 320px;
  border-radius: 5px 0 0 5px;
}

.subscribe-button {
  padding:  20px;
  font-size: 16px;
  border: none;
  border-radius: 0 5px 5px 0;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
}

.subscribe-image-container {
  margin-left: 20px;
}

.subscribe-image {
  width: 150px;
  height: auto;
}

.footer {
  background-color: #000;
  color: #fff;
  text-align: center;
  padding: 10px 0;
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
}
